@import "@/assets/index.css";
@import "./_var.scss";
@import "./_reset.scss";
@import "./_util.scss";
@import "./_animations.scss";

.swiper-wrapper {
  padding-bottom: 0 !important;
  padding-top: 0 !important;

  .swiper-slide {
    padding-top: 0 !important;
    overflow: visible !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  background-color: #191919;
  top: unset !important;
  transform: translateY(0) !important;
  border-radius: 50%;
  overflow: hidden;
  bottom: 0;

  &::after,
  &::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.swiper-button-prev {
  right: calc(50% - 50px) !important;
}

.swiper-button-next {
  left: calc(50% - 50px) !important;
}

.swiper-button-prev::after {
  background: url('/img/arrow.svg') center / 30% 30% no-repeat !important;
}

.swiper-button-next::before {
  background: url('/img/arrow.svg') center / 30% 30% no-repeat !important;
  transition: all .2s linear;
  transform: rotate(180deg);
}